html{
    width: 100%;
}
*,
    *::after,
    *::before{
        box-sizing: border-box;
    }
    *:focus{
        outline: none;
    }
    body{
        padding: 0;
        margin: 0;
        background: #000;
        color: white;
        font-family: "oxygen" , sans-serif;
 
    }

    a{
        text-decoration: none;
    }
    img{
        width: 100%;
    }
    
    
    .folio img{
        filter:grayscale(100%);
    }

aside{
    position:fixed;
    background: #222;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 100%;
    overflow: none;
    z-index: 1;
    text-align: center;
    padding: 0;
}

aside img{
     margin-bottom: -3px;
}

.material-icons.md-36{
    font-size: 36px;
}

aside a{
    display:block;
    padding:15px 0;
    color:white;
    transition: all 0.35s;
    text-transform: uppercase;
    font-size:0.75em;
    letter-spacing: 2px;
}

aside p{
    margin: 0;
    padding: 0;
    

}
aside a:hover{
    background: #000;
}
aside nav a:nth-child(2){
    background: #000;
}
aside nav a:nth-last-child(2):hover{
    background: #000;
}

main{
    max-width: 1024px;
    background: #000;
    text-align: center;
    
    
    

}
header{
    text-align:center;
    letter-spacing:2px;
}
header h1{
   
    font-weight: bold;
    font-size: 3em;
    margin-left: 400px;
    letter-spacing: 4px;
    animation-name: example;
  animation-duration: 8s; 
}
@keyframes example {
    from {color:white;}
    to {color:black;}
    from {color:black;}
    to {color:white;}
   
  }
header h5{
    font-weight: 400px;
    font-size: lem;
    letter-spacing: 4px;
    color: #b2b2b2;
    margin-left: 350px;
    
        transition-delay: 1s;
      
}
.about,
.folio,
.contact{
    line-height: 1.5em;
    letter-spacing:1px;
    font-weight: 300;


}
.about h2,
.folio h2,
.contact h2{
    font-weight: 300;
    text-transform: uppercase;
   padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 150px;
    letter-spacing: 4px;
    text-decoration: underline;
    
    }
    .about p{
        columns: #b2b2b2;
        margin-left: 150px;
        margin-right: 30px;
        width: intial;
        text-align: justify;
        
    }
    .about span{
        font-weight: 500;
        color:white;
        

    }
    .about a{
        font-weight: 600;
        color:white;

    }
    .about h3{
        font-weight: 300;
        text-decoration: underline;
        margin-left: 150px;
}
.container{
    
    background-color: #b2b2b2;
    margin-left: 150px;
    margin-right: 30px;
}
.skills{
    text-align: right;
    padding-right: 20px;
    line-height: 30px;
    color: white;
    background-color:#424242 ;
    
}
.html{
    width: 65%;
}
.css{
    width: 55%;
}
.C{
    width: 50%;
}
.DBMS{
    width: 50%;
}
.Java{
    width: 50%;
}


.folio h3{
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
}

.folio p{
    font-size: 0.857em;
    
}

.row-halves{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;

    
    -webkit-flex-pack:justify;
    margin-left: 150px;
    margin-right: 30px;
    margin-right: 50px;
}
.row-halves.col{
    width: 49%;
}
.col{
    border: 1px solid #222;
    background: #222;
    color: #b2b2b2;
    
}

label{
    columns: #b2b2b2; 
}

form input[type="text"],
select,
textarea{
    width:100%;
    padding: 12px;
    border:none;
    border: 1px solid #222;
    background: transparent;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: #b2b2b2;
}
form  input[type="text"]:focus,
textarea:focus{
    outline: none;
    border:1px solid #009688;
}

input[type="submit"]
{
    background-color: transparent;
    color: #b2b2b2;
    text-transform: uppercase;
    padding: 12px 20px;
    border: 1px solid #222;
    cursor:pointer;
    transition: all 0.35s;
}

input[type="submit"]:hover{
    background-color: #b2b2b2;
    color: #222;
}
.contact .container{
    margin-top: 20px;
    margin-bottom: 100px;
   background: transparent;
    padding: 20px 0;
    margin-left: 150px;
    

}
.footer{
    border-top: 1px solid #222;

}
.top-bar{
    padding: 20px 0;
    text-align: center;
}
.top-bar a{
    margin: 10px;
    font-size: 2em;
    color: #b2b2b2;
    transition: all 0.35s;
    display: inline-block;
}
.top-bar a:hover{
    transform: scale(1.1);
    color: #009688;
}

.bottom-bar{
    background: #000;
    font-size: 0.75em;
    text-align: center;
}
@media(max-width: 768px){
    .row-halves{
        display: block;
    }
    .row-halves .col{
        width: 100%;
        margin: 0 0 10px 0;
    }
}
@media(max-width: 601px){
   aside{
        display: none;
    }
    main{
        width: 100%;
        margin: 0 auto;
        padding: 12px 25px;
    }
    header{
        margin-top: 80px;

    }
    header h1{
        font-size: 3em;
        line-height: 1.4em;
    }
    header h5{
        font-size: 1em;
        letter-spacing: 2px;
        
}
.mobile-nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgba(0,0,0,0.8) ;
    z-index: 1;
}
.mobile-nav a{
    width:100%;
    color: #b2b2b2;
    text-transform: uppercase;
    font-size: 0.875em;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px 10px;
    transition: all 0.35s;
}
.mobile-nav a :hover{
    background: #b2b2b2;
    color: #222;
}
}
@media (min-width:500px){
    .mobile-nav{
        display: none;

    }

}


